<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        #main{
            height : 100vh;
            width:100%;
            display : flex;
            flex-direction : column;
            align-items : center;
            justify-content : center;
            & button{
                height : 50px;
                /* width : 100px; */
            }
        }

    </style>
</head>
<body>
   <div id="main">
        <a href="/admin">
            <button>All Payments</button> <br><br>
        </a>
        <a href="/admin/help-message">
            <button>Show all Help message</button>
        </a><br><br>
        <h3>Front-end :</h3> <a href="https://danacomminity.netlify.app/">https://danacomminity.netlify.app/</a>
   </div>
</body>
</html>
